/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../../app/stylesheets/screen.scss */
body {
  background-color: #eeeeee;
}

/* line 12, ../../app/stylesheets/screen.scss */
div#application_wrapper {
  min-width: 780px;
  max-width: 1260px;
  margin: 10px auto;
  background-color: white;
  padding: 0;
}

/* line 25, ../../app/stylesheets/screen.scss */
.notice {
  color: #00F000;
  background-color: #B0F080;
}
