<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag ['scree.css', 'scaffold.css'] %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>
<body>

<div id = 'application_wrapper'>

    <div id="content">

        <%= yield %>

    </div>

</div>

</body>
</html>
